# Blockchain
NEXT_PUBLIC_CHAIN_ID=80002
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
HARDHAT_PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000001

# Deployed contract addresses (filled after deploy)
NEXT_PUBLIC_RECORD_REGISTRY_ADDRESS=
NEXT_PUBLIC_ACCESS_CONTROLLER_ADDRESS=
NEXT_PUBLIC_CREDENTIAL_ISSUER_REGISTRY_ADDRESS=

# IPFS sim backend
IPFS_SIM_PORT=3001
IPFS_SIM_URL=http://localhost:3001

# Demo mode
NEXT_PUBLIC_DEMO_MODE=true

# WalletConnect
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
