# deps
node_modules/
.pnpm-store/

# build
.next/
dist/
out/

# env
.env
.env.local
.env.*.local

# foundry
cache/
out/

# misc
.DS_Store
*.log
coverage/
*.lcov

# hardhat build artifacts
contracts/cache/
contracts/cache_hardhat/
contracts/out/
contracts/artifacts/
contracts/typechain-types/

# next.js build info
apps/web/tsconfig.tsbuildinfo
apps/web/next-env.d.ts
